.header {
    position: relative;
    height: auto;
}

.slider-container {
    width: 100%;
}

.slider {
    display: flex;
    width: 600%; 
    animation: slide 20s linear infinite; 
}

.slider img {
    width: 16.666%; 
    height: 100vh;
    object-fit: cover;
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

.logo {
    display: block;
    margin-left: 50%;
    transform: translate(-50%);
    position: absolute;
    top: 0;
    z-index: 1000;
}

.nav {
    background-color: #ffffff;
    padding: 20px 0;
    text-align: center;
}

.nav a {
    text-decoration: none;
    color: #0E8FC7;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0 20px;
}

#map{
    background-color: #ffffff;
    margin-left: 25%;
}


/* energy level*/

.energy-level{
    text-align: center;
    position: relative;
    bottom: 0;
    left: 50%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    transform: translateX(-50%);
    background-color: black;
    color: #0E8FC7;
    padding-top: 60px;
    padding-bottom: 60px;
   
}

.level-options {
    margin-top: 20px;
}

.level {
    display: inline-block;
    padding: 10px 20px;
    background-color: #0E8FC7;
    color: white;
    text-decoration: none;
    margin: 0 10px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s; 
}

.level:hover {
    background-color: white;
    color: black;
}

/* activity container*/

.activity-container {
    justify-content: space-between;
    max-width: 1200px;
    margin: 20px auto;
}

.activity {
    display: inline-block;
    flex-wrap: wrap;
    width: 48%; 
    background-color: #fff;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.activity img {
    width: 100%;
    height: 400px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.activity-container h4{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
}

.activity a {
    display: block;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    color: #333;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


/* Place details */
.place-details {
    background-color: #ffffff;
    color: orangered;
    padding: 20px;
    margin-top: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .place-details p {
    margin: 5px 0;
  }
  
  .place-details img {
    max-width: 100%;
    height: auto;
  }
  
  /* Search bar and button */
  #place,
  #distance {
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #0E8FC7;
    border-radius: 5px;
    font-size: 16px;
  }
  
  #search-button {
    padding: 10px 20px;
    background-color: orangered;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  
  #search-button:hover {
    background-color: black;
  }

  .search-container {
    text-align: center;
    margin-top: 20px;
}

.search-container input[type="text"],
.search-container button {
    margin: 5px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.search-container button{
    padding: 10px 20px;
    background-color: #0E8FC7;
    color: white;
    text-decoration: none;
    margin: 0 10px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.search-container button:hover{
    background-color: white;
    color: black;
}

/* Map container styling */
.map-container {
    margin-top: 20px;
    padding: 10px;
}

/* Results container styling */
.results-container {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    text-align: left;
}

.results-container img {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
}
  
/* high.html*/
/* headeer footer left*/



/*activities*/

#map {
    height: 400px;
    width: 100%;
  }

  #place-details {
    margin-top: 20px;
  }

  .place-detail {
    border: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 10px;
  }

/* stories */

.header {
    position: relative;
    height: auto;
}

.nav-stories {
    text-align: center;
    margin-top: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.nav-stories a {
    text-decoration: none;
    color: #0E8FC7;
    font-size: 25px;
    margin: 0 20px;
}

.story-form-container {
    width: 70%;
    margin: 100px auto 20px; 
    background-color: #ffffff;
    color: #0E8FC7;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.story-form-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.story-form-container form {
    display: flex;
    flex-direction: column;
}
.story-form-container label {
    margin-bottom: 10px;
}

.story-form-container input[type="text"],
.story-form-container input[type="date"],
.story-form-container input[type="number"],
.story-form-container textarea {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #0E8FC7;
    border-radius: 5px;
    font-size: 16px;
}

.story-form-container input[type="file"] {
    margin-bottom: 15px;
}

.story-form-container textarea {
    resize: vertical;
}

.story-form-container button[type="submit"] {
    padding: 10px 20px;
    background-color: orangered;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    align-self: center;
}

.story-form-container button[type="submit"]:hover {
    background-color: black;
}

/* Story Containers */
.story-container {
    width: 70%;
    margin: 20px auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.story-container:nth-child(odd) {
    background-color: #0E8FC7; 
    
}

.story-container:nth-child(even) {
    background-color: #ffffff; 
    color: #0E8FC7; 
}

.story-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.story-content img {
    display: block;
    margin: 0 auto 20px;
    max-width: 100%;
    border-radius: 5px;
}

.story-content p {
    margin: 5px 0;
}

.story-content a {
    color: inherit; 
}

.story-content a:hover {
    text-decoration: underline;
}
