.header {
    position: relative;
    background-color: white;
    }

    /*footer*/


    /* banner */

    .slider-container {
        position: relative;
        width: 100%;
        overflow: hidden;
        height: 800px;
    }
    
    .slide {
        position: relative;
    }
    
    .slide img {
        width: 100%;
        height: 800px;
    }
    
    .slide-content {
        position: absolute;
        bottom: 20px;
        left: 50%;
        top: 50%;
        transform: translateX(-50%);
        text-align: center;
        color: white;
    }
    
    .slider-button {
        display: inline-block;
        padding: 10px 20px;
        background-color: #ffffff;
        color: #000000;
        text-decoration: none;
        border-radius: 5px;
        margin-top: 20px;
    }

    .slider-button:hover{
        background-color: #0e8fc7;
        color: black;
        transition: 0.8s ease;
    }


    

.logo {
    margin-left: 47%;
    z-index: 1000;
    font-size: 40px;
    text-decoration: none;
    background-color: white;
    color: #0E8FC7;
}

.nav {
    background-color: #ffffff;
    padding: 10px 0;
    text-align: center;
}

.nav a {
    text-decoration: none;
    color: #0E8FC7;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0 20px;
}

#map{
    background-color: #ffffff;
    margin-left: 25%;
}
#content {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#content p {
    margin: 10px 0;
}

#content a {
    color: #0E8FC7;
}

#content a:hover {
    text-decoration: underline;
}

#content img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-top: 10px;
}

#place{
    text-align: center;
    width: 20%;
    border: 1px solid #0E8FC7;
    border-radius: 5px;
    font-size: 16px;
}

#distance{
    text-align: center;
    width: 20%;
    border: 1px solid #0E8FC7;
    border-radius: 5px;
    font-size: 16px;
}

/*info*/

#fitfinder-section {
    background-color: #f9f9f9;
    padding: 50px 100px;
    text-align: center;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

h2 {
    font-size: 30px;
    color: black;
}

p {
    font-size: 20px;
    color: gray;
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #0E8FC7;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: black;
    color: white;
    transition: 0.8s ease;
}

/*login */

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #f9f9f9;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #0E8FC7;
}

label {
    display: block;
    margin-bottom: 10px;
    color: #333;
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #0E8FC7;
    border-radius: 5px;
    font-size: 16px;
}

input[type="submit"] {
    width: 100%;
    padding: 10px 20px;
    background-color: #0E8FC7;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

input[type="submit"]:hover {
    background-color: black;
}

.message {
    text-align: center;
    margin-top: 20px;
    color: #333;
}

.message a {
    color: #0E8FC7;
    text-decoration: none;
}

.message a:hover {
    text-decoration: underline;
}

/* signup*/

body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  max-width: 600px;
  margin: 100px auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #0e8fc7;
}

label {
  margin-bottom: 10px;
  display: block;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="date"],
input[type="submit"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #0e8fc7;
  border-radius: 5px;
  font-size: 16px;
}

input[type="submit"] {
  background-color: #0e8fc7;
  color: #ffffff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

input[type="submit"]:hover {
  background-color: #ffffff;
  color: #0e8fc7;
}

.message {
  text-align: center;
  margin-top: 20px;
  color: #0e8fc7;
}

.message a {
  color: #0e8fc7;
  text-decoration: none;
}

.message a:hover {
  text-decoration: underline;
}



/* energy level*/

.energy-level {
    text-align: center;
    padding: 40px 20px;
    background-color: rgb(234, 233, 233);
}

.energy-level-content {
    max-width: 600px;
    margin: 0 auto;
}

.energy-level h2 {
    font-size: 36px;
    margin-bottom: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.energy-level p {
    font-size: 18px;
    color: #666;
    margin-bottom: 20px;
}
  
  .level-options {
    margin-bottom: 20px;
  }
  
  .level {
    display: inline-block;
    padding: 10px 20px;
    background-color: #0E8FC7;
    color: white;
    text-decoration: none;
    margin: 0 10px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s; 
  }

  .separator {
    border-bottom: 1px solid #ccc;
    margin: 20px 0;
}
  
  .level:hover {
    background-color: black;
    color: white;
    transition: 0.8s ease;
  }
/* place details container */

.place-details-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    height: 400px;
    width: 97%;
    margin-left: 0%;
    border:2px solid gray;
    padding: 15px;
}

.place-details-text {
    width: calc(50% - 10px) !important; 
}

.place-details-image {
    width: calc(50% - 10px) !important; 
}

.place-details-image img {
    max-width: 100% !important;

    height: 300px !important;
}


/* activity container*/

.activity-container {
    max-width: 1200px;
    margin: 20px auto;
}

.intro {
    text-align: center;
    padding: 40px 20px;
}

.intro h2 {
    font-size: 32px;
    color: #333;
    margin-bottom: 10px;
}

.intro p {
    font-size: 18px;
    color: #666;
    line-height: 1.6;
    margin-bottom: 20px;
}

.activity-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.activity {
    
    width: 60%;
    position: relative;
    margin: 20px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.activity img {
    width: 100%;
    height: 400px;
    transition: transform 0.3s ease;
    /*
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;*/
}

.activity-container h4{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    line-height: 1.6;
    color: #333;
}

.activity a {
    display: block;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    color: #333;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.activity:hover {
    transform: translateY(-5px);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.activity:hover .overlay {
    opacity: 1;
}

.overlay a {
    text-decoration: none;
    color: #fff;
    font-size: 24px;
    padding: 10px 20px;
    border: 2px solid #fff;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.overlay a:hover {
    background-color: #fff;
    color: #333;
}


/* Place details */
.place-details {
    background-color: #ffffff;
    color: orangered;
    padding: 20px;
    margin-top: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .place-details p {
    margin: 5px 0;
  }
  
  .place-details img {
    max-width: 100%;
    height: auto;
  }con
  
  /* Search bar and button */

  #search-button {
    padding: 10px 20px;
    background-color: orangered;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  
  #search-button:hover {
    background-color: black;
  }

  .search-container {
    margin-top: 20px;
}

.search-container input[type="text"],
.search-container button {
    margin: 5px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.search-container button{
    padding: 10px 20px;
    background-color: #0E8FC7;
    color: white;
    text-decoration: none;
    margin: 0 10px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.search-container button:hover{
    background-color: black;
    color: white;
    transition: 0.8s ease;
}

/* Map container styling */
.map-container {
    margin-top: 20px;
    padding: 10px;
}

/* Results container styling */

.results-container {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
.results-container img {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
}
  
/* high.html*/
/* headeer footer left*/



/*activities*/

#map {
    height: 400px;
    width: 100%;
  }

  #place-details {
    margin-top: 20px;
  }

  .place-detail {
    border: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 10px;
  }

/* stories */

.header {
    position: relative;
    height: auto;
}

.nav-stories {
    text-align: center;
    margin-top: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.nav-stories a {
    text-decoration: none;
    color: #0E8FC7;
    font-size: 25px;
    margin: 0 20px;
}

.story-form-container {
    width: 70%;
    margin: 100px auto 20px; 
    background-color: #ffffff;
    color: #0E8FC7;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.story-form-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.story-form-container form {
    display: flex;
    flex-direction: column;
}
.story-form-container label {
    margin-bottom: 10px;
    display: block;
}

.story-form-container input[type="text"],
.story-form-container input[type="date"],
.story-form-container input[type="number"],
.story-form-container textarea {
    padding: 10px;
    box-sizing: border-box; 
    width: 100%;
    margin-bottom: 15px;
    border: 1px solid #0E8FC7;
    border-radius: 5px;
    font-size: 16px;
}

.story-form-container input[type="file"] {
    width: 100%;
    margin-bottom: 15px;
}

.story-form-container textarea {
    resize: vertical;
}

.story-form-container button[type="submit"] {
    padding: 10px 20px;
    background-color: #0E8FC7;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    align-self: center;
    width: auto; 
    margin-top: 10px;
}

.story-form-container button[type="submit"]:hover {
    background-color: black;
    transition: 0.8s ease;
}

/* Story Containers */
.story-container {
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px; 
    transition: transform 0.3s ease;
}

.story-container:hover {
    transform: translateY(-5px);
  }

  .story-content {
    flex: 1;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
  }

  .story-content:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  }

.story-content img {
    height: 100px;
    margin-bottom: 10px; 
    transition: transform 0.3s ease;
    max-width: 150px;
    border-radius: 5px;
}
.story-content:hover img {
    transform: scale(1.1);
  }

.story-content p {
    margin: 0;
    margin-bottom: 5px;
}

.story-content strong {
    color: #333;
  }

  .intro-text {
    text-align: center;
}

.about {
    display: flex;
    align-items: center;
    margin-top: 20px; 
    margin-left: 10%;
    margin-right: 10%;
    padding-left: 7%;
    margin-bottom: -70px;
    background-color: white;
}

.about img{
    width: 150px; 
    margin-right: 20px; 
}

.about p{
    max-width: 600px;
}
.social-links {
    margin-top: 20px;
    margin-bottom: 30px;
}
.social-links a {
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
    color: #333;
}
/* Contact form styling */
.contact-form {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 30px;
}
.contact-form h2 {
    margin-bottom: 20px;
}
.contact-form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}
.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
    width: calc(100% - 20px); 
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.contact-form textarea {
    resize: vertical;
}
.contact-form button[type="submit"] {
    padding: 10px 20px;
    background-color: #0E8FC7;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}
.contact-form button[type="submit"]:hover {
    background-color: black;
    transition: 0.8s ease;
}
/* Map styling */
.map-container {
    margin-bottom: 30px;
}
.map-container iframe {
    width: 100%;
    height: 400px;
    border: none;
    border-radius: 5px;
}